.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products a {
    text-decoration: none;
  }
  .products_title {
    text-align: center;
  }
  .products_title h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
  }
  .products_title p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 48px;
    color: rgb(159, 159, 159);
  }
  .products_cards {
    display: grid;
    grid-template-columns: repeat(3, 362px);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 20px;
  }
  .products-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgb(255, 106, 106);
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 106, 106);
    padding: 15px 40px;
    background-color: #fff;
    margin-bottom: 95px;
    margin-top: 39px;
  }
  .products-btn:hover {
    border: 1px solid #000;
    color: #000;
  }
  
  .product_card {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    text-align: start;
    width: 360px;
  }
  .product_card img {
    max-width: 359px;
  }
  .product_card .product_id {
    display: none;
  }
  .product_card h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 13px;
    margin-left: 16px;
  }
  .product_card a {
    text-decoration: none;
    color: #000;
  }
  .product_card .card_description {
    padding-left: 16px;
  }
  .product_card .description {
    font-size: 18px;
    font-weight: 300;
    min-width: 51px;
  }
  .product_card .price {
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 106, 106);
    margin-bottom: 24px;
    margin-left: 16px;
  }

  .addToCart-btn, .removeFromCart-btn {
    font-size: 17px;
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid rgb(255, 106, 106);
    border-radius: 10px;
  }
  
  .product_card:hover {
    border: 1px solid rgb(255, 106, 106);
    box-shadow: 10px 5px 5px rgb(163, 163, 163);
  }

  .cart_title {
    font-size: 30px;
    font-weight: 400;
  }

  .cart {
    display: grid;
    grid-template-columns: repeat(6, 210px);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 20px;
  }

  .cart .product_card img {
    width: 200px;
  }

  .cart .product_card {
    width: 200px;
  }